/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-bottom: 20px;
}

h1,h2,h3,p{
        font-family:Verdana;

}

.navbar {
        border-radius: 0px;
        margin-bottom: 0px;
        background-color: none;
    }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"] {
    max-width: 280px;
}


header {
    width: 100%;
    padding: 60px 0 30px;
    background-color: #3276B1;
    overflow: auto;
}

    header nav {
        width: 70%;
        margin: 0 auto;
    }

    header h1, p {
        color: white;
    }

    header h1{
        font-size:4em;
    }
    header p{
        font-size: 2em;
    }

    header img{
        float:right;
        position:relative;
    }

/*header {
    background-color: black;
    padding-top: 50px;


}

    header img {
        margin-left: 50%;
        margin-bottom: 50px;
    }

    header h1 , h2{
        color:white;
    }

    #greeting{
    }*/

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}
